table#quantity-breaks-table-grid {
    width: 100%;
    margin: 25px 0;
}

#quantity-breaks-table-grid,
#quantity-breaks-table-grid th,
#quantity-breaks-table-grid td {
    text-align: left;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}

#quantity-breaks-table-grid thead tr,
#quantity-breaks-table-grid thead th,
#quantity-breaks-table-grid thead td {
    background: #D6D6D6;
    color: #000000;
    font-weight: bold;
}

#quantity-breaks-table-grid tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

#quantity-breaks-table-grid tbody tr:nth-child(even) {
    background-color: #EFEFEF;
}

#quantity-breaks-table-grid ._price,
#quantity-breaks-table-grid ._percent {
    font-weight: bold;
}
